@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #2c2c2c, #1c1c1c); /* Dark background */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: #ddd; /* Light text color */
}

.App {
  width: 350px;
  padding: 30px;
  background: linear-gradient(145deg, #333, #444);
  border-radius: 20px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5); /* Darker shadow */
  text-align: center;
}

.App h1 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #fff; /* Light color for the heading */
  font-weight: 600;
}

.App p {
  margin: 15px 0;
  color: #ccc; /* Light color for the paragraph */
  font-size: 1.1rem;
}

.App p span {
  font-weight: 600;
  color: #d5cbf4; /* Soft purple for highlighted text */
  background-color: #3f2a68; /* Darker background for span */
  padding: 3px 8px;
  border-radius: 8px;
}

.App button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 18px;
  font-family: "Poppins", sans-serif;
  margin: auto;
  font-size: 1rem;
  color: #ffffff;
  background-color: #6c63ff; /* Light purple */
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.2s ease;
  gap: 10px;
}

.App button span {
  font-weight: bold;
  font-size: 0.9rem; /* تصغير حجم الخط */
  padding: 2px 5px;
}

.App button:hover {
  background-color: #5753d9; /* Darker purple on hover */
  box-shadow: 0 5px 15px rgba(108, 99, 255, 0.3);
}

button:disabled {
  background-color: #555; /* Disabled button color */
  cursor: not-allowed;
  opacity: 0.5;
}

button:disabled:hover {
  background-color: unset;
}

@media (max-width: 400px) {
  .App {
    width: 90%;
    padding: 20px;
  }
}

.footer {
  position: fixed;
  width: fit-content;
  margin: 20px auto;
  font-size: 12px;
  color: #ffffffab;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  text-align: center;
  transition: background-color 0.3s, box-shadow 0.3s;
  bottom: 0;
  z-index: 0;
  background: linear-gradient(145deg, #333, #444);
}

*:not(.footer) {
  position: relative;
  z-index: 1;
}

.footer a {
  color: #8882fc;
  font-size: 15px;
  text-decoration: none;
  font-weight: bold;
}

.footer a:hover {
  text-decoration: underline;
}
